*, *:before, *:after {box-sizing: border-box;}
html {scroll-behavior: smooth;}
img {max-width: 100%; display: block;}
h1, h2, h3, h4, h5, h6 {text-wrap: balance; margin:0px; padding:0px;}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');

:root{
    --color-primary: #6366F1;
    --color-secondary: #22D3EE;
    --color-accent: #F59E42;
    --color-background: #F8FAFC;
    --color-text: #1E293B;
}

*{
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    color:#0B0F19;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 300;
}

h1{
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.2;
}

h2{
    font-weight: 900;
    font-size: 1.5rem;
}

h5{
    font-weight: 900;
    font-size: 15pt;
}

p{
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color:#565973;
    font-size: 1.125rem;
}

.page {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) and (max-width: 992px) {
    .page {
        max-width: 768px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

/* Desktop */
@media (min-width: 993px) {
    .page {
        max-width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.list {
  list-style: none;
  padding: 2rem 0;
  margin:0px;
}

.list p{
  padding: 0px;
  margin:0.5rem;
}

.list li {
  display: flex;
  align-items: center;
  padding:0;
  margin:0;
}


.icon-list{
    padding: 0;
    margin:0;
    width: 1rem;
    height: auto;;
    margin-right:0.5rem;
    flex-shrink:0;
}

.showcase-app
{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    width:100%;
    margin:0 auto;
    padding:2rem 3rem;
}
    /* Fixa positionering i divvar */
    .showcase-app .iphone-bg:nth-child(1) {background-position: left;}
    .showcase-app .iphone-bg:nth-child(3) {background-position: right;}

.iphone-bg {
    background-image: url('/assets/images/iphone_highres.png'), url('/assets/images/iphone-placeholder1.png');
    height: 550px;
    aspect-ratio: 271 / 546;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, contain;
    margin:2rem 0;
}

.iphone-bg-base {
    height: 550px;
    aspect-ratio: 271 / 546;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, contain;
    margin:2rem 0;
    opacity:0.7;
}

.iphone-bg-app1 {
    background-image: url('/assets/images/iphone-placeholder2.png');
}

.iphone-bg-app2 {
    background-image: url('/assets/images/iphone-placeholder3.png');
}

.lg-screen {
  display: none;
}

#app-features, #testimonials {
  display: none;
}

@media (min-width: 993px) {
  #app-features, #testimonials {
    display: block;
  }
}

@media (min-width: 768px) {
    .lg-screen {
    display: block;
    }
    .showcase-app .iphone-bg {
        width: auto;
        flex: 1;
    }
}

@media (min-width: 768px) {
    .lg-screen {
    display: block;
    }
    .showcase-app .iphone-bg {
        width: auto;
        flex: 1;
    }
}

.features-info-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.features-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
}

.features-icons img.icon {
    width: 58px;
    height: auto;
}

.features-icons div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .features-info-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 60px;
    }

    .features-icons { 
        flex-direction: row;
        align-items: flex-start;
    }
    .features-icons img.icon { /* Mindre ikoner p책 desktop */
    width: 48px;
    }
    
}

.icon{
    padding: 16px;
    width: 60px;
    height: 60px;
    background-color: rgba(99, 102, 241,0.08);
    border-radius: 8px;
}

.nav-wrapper{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem; 
}

.nav-wrapper label{
    font-weight: 800;
    color:#565973;
}

.header-wrapper{
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-center{
    text-align:center;
}

.section-wrapper {
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    padding-top:70px;
    padding-bottom:70px;
}

.testimonials-card-wrapper {
    display: flex;
    height:20rem;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.testimonials-card{
    position: relative; 
    flex:1;
    height:100%;
    padding:1.5rem;
    background-color:white;
    border-radius:0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.testimonials-card-icon{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;

    width:2.5rem;
    height:2.5rem; 
    left:1rem;
    top:-1.5rem;

    background-color:var(--color-primary);
    border-radius:0.25rem;
    box-shadow: 0 4px 6px rgba(99, 102, 241,0.3);
}

.person-card {
    display: flex;
    gap: 1rem;
    height:3rem;
    margin:0.5rem;:
}


.person-photo {
    width: 3rem;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-girl {background-image: url('../../../assets/images/avatars/avatar_girl.png');}
.avatar-guy {background-image: url('../../../assets/images/avatars/avatar_guy.png');}

.person-info {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.person-info p {
    padding:0;
    margin:0;
}

.person-name {
    font-weighT:bold;
    font-size:1rem;
}

.person-title {
    font-weighT:300;
    font-size:0.9rem;
}

.user-rating{
    margin:1.3rem 0;
}

.user-rating i {
    color:#FFBA08;
    font-size:0.7rem;
}
.testimonials-card-icon i {
    font-size:1.5rem;
    color:white;
}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4.5rem 0;
}

.features-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 150px;
}

.app-features-wrapper {
    display: flex;
    gap:5rem;
}

.app-features-content {
    padding:7rem 3rem;
    flex:1;
}

.app-features-image {
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media (max-width: 1024px) {
    .features-image {
        display: none;
    }
}

.features-image img {
    height: 100%; 
    width: auto;
    object-fit: contain;
    display: block;
}

.hero-section {
    display: flex;
    justify-content: flex-end;
    height:50rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-section {height: 40rem;}
}

@media (min-width: 1025px) {
    .hero-section {height: 550px;}
}



.gradient-bg {
    background-color: var(--color-background);
    background: radial-gradient(
        circle at bottom center,
        #6366f11a 0%,
        #dc45f00d 42%,
        #f1f4fd12 83%
    );
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flex-container-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .flex-container {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .flex-container {
        justify-content: flex-start;
        align-items: center;
    }
}

.hero-image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow:hidden;
    position: relative;
}

.hero-iphone-bg,
.hero-iphone-sm {
    position: absolute;
    height: 550px;
    aspect-ratio: 271 / 546;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, contain;
}

.hero-iphone-bg {
    z-index: 2;
    background-image: url('/assets/images/iphone_highres.png'), url('/assets/images/iphone-placeholder1.png');
    top: 50px;
    right: 0;
}

.hero-iphone-sm {
    z-index: 1;
    background-image: url('/assets/images/iphone_highres.png'), url('/assets/images/iphone-placeholder2.png');
    top: 140px;
    right: 155px;
}

@media (max-width: 767px) {
    .hero-image-wrapper,
    .hero-iphone-bg,
    .hero-iphone-sm {
        display: none;
    }
}

.dark-bg
{
    background-color:#F3F6FF;
}
.section{
    height:40rem;
}

.section-text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.hero-wrapper {
    display: block;
    margin: auto;
    padding-top: 1rem;
}

.hero-wrapper > :first-child {
    width: 100%;
}

.hero-wrapper > :nth-child(2) {
    display: none;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        margin: 0;
        padding-top: 1rem;
    }

/* Visa p책 tablet */
    .hero-wrapper > :nth-child(2) { 
        display: block;
    }

    .hero-wrapper > :first-child {
        width: auto;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .hero-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        margin: 0;
        padding-top: 1rem;
    }

    .hero-wrapper > :nth-child(2) {
        display: block;
    }

    .hero-wrapper > :first-child {
        width: auto;
    }
}


.store-button {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #131022;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.store-button {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #131022;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.store-button img {
    width: auto;
    height: 100%;
    display: block;
}

.hero-text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

/* Centrerat p책 mobil och tablet */
.hero-text-wrapper .column h1,
.hero-text-wrapper .column p {
    text-align: center;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-text-wrapper {
        justify-items: center;
        text-align: center;
        gap: 1rem;
        width: 90%;
        margin: 0 auto;
    }
}

/* Till desktop */
@media (min-width: 1025px) {
    .hero-text-wrapper {
        justify-items: end;
        text-align: left;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
    }
    /* Text till v채nster */
    .hero-text-wrapper .column h1,
    .hero-text-wrapper .column p {
        text-align: left;
    }
}


.button-main{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    margin: 0px;
    font-size: 10pt;
    letter-spacing: 0.05em;
    padding: 0.7rem 1.5rem;
    font-weight: 300;
    color:white;
    background-color: var(--color-primary);
    border-radius: 5px;
}

.app-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.app-button-wrapper img {
    display: block;
    max-height: 100%;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .app-button-wrapper {
        flex-direction: row;
        width: 350px;
        gap: 15px;
    }
}

@media (min-width: 1025px) {
    .app-button-wrapper {
        flex-direction: row;
        width: 400px;
        gap: 15px;
    }
}

.nav-wrapper{
    
}

.nav-wrapper #hamburger-button {
  display: none;
}

@media (max-width: 1024px) {
  .nav-wrapper #signin-button {
    display: none;
  }
  .nav-wrapper #hamburger-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .nav-wrapper #darkmode {
    display: none;
  }
}

.storeBadge{
    height:60px;
    width:auto;
}


.column{
    flex:1;
    margin:0px;
    padding:0px;
    width:100%;
}

.column-2{
    flex:2;
    margin:0px;
    padding:0rem;
    width:100%;
}


.logo{

}


.brand-logo-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.brand-logo {
    width: 196px;
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #E2E5F1;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .brand-logo-wrapper .brand-logo:nth-child(n+5) {
        display: none; 
    }
}

@media (max-width: 767px) {
    .brand-logo-wrapper {
        display: none;
    }
}

.toggle-checkbox {
    appearance: none;
    width: 40px;
    height: 22px;
    background: #9397AD;
    border-radius: 12px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background 0.2s;
    vertical-align: middle;
}
.toggle-checkbox:checked {
    background: #fff;
}
.toggle-checkbox::before {
    content: "";
    position:absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: left 0.2s, background 0.2s;
}
.toggle-checkbox:checked::before {
    left: 21px;
    background: #374151;
}
